#threed {
width: 100%;
height: 100%;
position: fixed;
z-index: -1 }

#nav{
background-color: black;
float: right;
color: fuchsia;
max-width: 500px}

.js-video {

  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.js-video.widescreen {
  padding-bottom: 56.34%;
}

.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

a {
color: fuchsia;
padding: 10px;
}

#container{
  padding-right: 10px;

}
#title{
  background-color: azure;
  max-width: 325px;
  padding: 5px;
  float: right;
  position: relative;
  outline: 1px solid crimson;
  clear:both;
  font-size: 26px;

}

#videoTitle{
  text-align: center;
  outline: 1px solid red;

}
.vid-list-container {
	width: 92%;
	overflow: hidden;
	margin-top: 20px;
	margin-left:4%;
	padding-bottom: 20px;
}

.vid-list {
	width: 1344px;
	position: relative;
	top:0;
	left: 0;
}

.vid-item {
	display: block;
	width: 148px;
	height: 148px;
	float: left;
	margin: 0;
	padding: 10px;
}

.thumb {
	overflow:hidden;
	height: 84px;
}

.thumb img {
	width: 100%;
	position: relative;
	top: -13px;
}

.vid-item .desc {
	color: #21A1D2;
	font-size: 15px;
	margin-top:5px;
}



#prev{
float: right;
clear: right;
margin: 10px 0px;
outline: 1px solid red; }

.next{
  margin: 10px 0px;
  float: right;
  clear: left;
  outline: 1px solid purple;
}

#videoArea{



  background-color: azure;
  outline: 1px solid red;
  margin: 10px 0px;
  padding: 10px;
  position: relative;
  float: right;
  clear: both;
  min-width: 500px}


}
#video_player {
	display: table;
	line-height: 0;
	font-size: 0;
	background: #000;
}
#video_player video,
	#video_player figcaption {
		display: table-cell;
		vertical-align: top;
}
#video_player figcaption {
	width: 25%;
}
#video_player figcaption a {
	display: block;
	opacity: .5;
	transition: 1s opacity;
}
#video_player figcaption a img,
	figure video {
		width: 100%;
		height: auto;
}
#video_player figcaption a:hover {
	opacity: 1;
}

#video-div{

}

#player{
  margin: 0px;
  float: right;
  width: 100%;
  background-color: black
}

#iframe{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;}
